/tmp/
/dist/
*_local.*
*.sqlite3
*.pyc
*.rdb
.DS_Store
._*
*.egg-info

# IDE system files
.ropeproject
.vim
.idea
.tags
.vscode
.env
.venv
*.sublime-workspace
*.sublime-project
*.code-workspace

# Temporary files
*.py[oc]
*.sw[opn]
*~
