/tmp/
/dist/
*.egg-info
.DS_Store

# IDE system files
.ropeproject
.vim
.idea
.tags
.vscode
.env
.venv
*.sublime-workspace
*.sublime-project
*.code-workspace

# Temporary files
__pycache__
*.py[oc]
*.sw[opn]
*~
