# Include the README and LICENSE files
include README.md
include LICENSE

# Include the migration files
recursive-include snart/migrations *

# Include static files
recursive-include snart/static *

# Include template files if you have any (adjust the path if you add templates later)
recursive-include snart/templates *

# Include management commands
recursive-include snart/management *
